<div class="sub-menu" #subMenu>
    <div class="sub-menu__container sub-menu__container--fill-form">
        <div class="sub-menu__left-button sub-menu__left-button--fill-form">
            <button class="button-filled button-filled--sub-menu-fill-form icon icon-save-solid"
            (click)="saveForm()" [hidden]="!this.currentStep"></button>
        </div>
        <ul class="sub-menu__nav sub-menu__nav--fill-form" style="justify-content: center;">
            <li class="sub-menu__nav__button sub-menu__nav__button--without-hover">
                {{this.form.topLabelTitle}}
            </li>
        </ul>
    </div>
</div>
<div class="form-creator" id="form-creator">
    <router-outlet></router-outlet>
</div>

<!-- <div class="comments" id="comments"> -->
    <!-- Si el orginalForm no está cargado no se inicia aún -->
    <!-- <app-comments [form]="originalForm" class="comments"
    *ngIf="originalForm.title !== ''"></app-comments>
</div> -->