<div class="recover">
  <div class="recover__container">
      <h1 class="recover__container__title" #title *ngIf="!isResetPassword">Escriba su e-mail</h1>
      <h1 class="recover__container__title" *ngIf="isResetPassword">Escriba su nueva constraseña</h1>
      <label for="email"></label>
      <input type="email" name="email" id="name" placeholder="E-MAIL" [(ngModel)]="email" #emailInput *ngIf="!isResetPassword">
      <input type="password" name="password" id="password" placeholder="PASSWORD" [(ngModel)]="password" #passwordInput *ngIf="isResetPassword">
      <br *ngIf="isResetPassword">
      <input type="password" name="repeatPassword" id="repeatPassword" placeholder="REPEAT PASSWORD" [(ngModel)]="repeatPassword" #repeatPasswordInput *ngIf="isResetPassword">
      <span class="secondary-color d-none" #invalidError>Invalid email</span>
      <input type="submit" value="Send link" #sendLinkButton (click)="sendEmail()" *ngIf="!isResetPassword">
      <input type="submit" value="Reset" (click)="resetPassword()" *ngIf="isResetPassword">
      <label class="recover__container__message d-none" #confirmationMessage *ngIf="!isResetPassword">Visita tu email. Recibirás un correo con instrucciones para resetar tu contraseña.</label>
  </div>
</div>