<h1 class="info-lightbox__title">Input Radio A</h1>
<div class="info-lightbox__description">
    <div class="info-lightbox__description__content">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Expedita assumenda necessitatibus veritatis? Ipsum voluptate 
            repellendus provident aut neque quia cupiditate, sit vel maiores 
            necessitatibus voluptas totam officiis. Ex, vero autem?</p>
            <iframe src="https://giphy.com/embed/STqHZn9JUT7TDOPRsV" width="480" height="274" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>
<div class="info-lightbox__instructions">
    <div class="info-lightbox__instructions__content">
        <div class="info-lightbox__instructions__title">
            <h2>How to use it</h2>
        </div>
        <div class="info-lightbox__instructions__steps">
            <div class="info-lightbox__instructions__steps__step">
                <p>1. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Unde nihil aspernatur, omnis sapiente eveniet voluptate laudantium 
                    enim quibusdam esse! Praesentium, sunt! Voluptate, dolor nostrum. 
                    Ipsum numquam enim commodi perspiciatis? Dignissimos.</p>
                <img src="https://images.unsplash.com/photo-1485439439964-39b6b5d20d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <p>2. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Unde nihil aspernatur, omnis sapiente eveniet voluptate laudantium 
                    enim quibusdam esse! Praesentium, sunt! Voluptate, dolor nostrum. 
                    Ipsum numquam enim commodi perspiciatis? Dignissimos.</p>
                <img src="https://images.unsplash.com/photo-1485439439964-39b6b5d20d7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" alt="">
            </div>
        </div>
    </div>
</div>