<div class="form-creator__fields-area__middle__container fade-in">
  <div class="form-creator__fields-area__field">
      <div class="form-creator__fields-area__field__container">
          <div class="form-creator__fields-area__field__field-area form-creator__fields-area__field__field-area--input-text">
              <div class="form-creator__fields-area__field__top form-creator__fields-area__field__top--fill-form">
                  <div class="indication">
                      <span class="icon icon-info-circle-solid trigger" (click)="showIndication()"></span>
                  </div>
              </div>
              <div class="form-creator__fields-area__field__middle">
                  <span class="form-creator__fields-area__field__middle__question">{{step.question}}</span>
                  <div class="form-creator__fields-area__field__middle__checkbox-input">
                    <label *ngFor="let checkbox of step.checkboxes">
                        <input type="checkbox" class="filled-in" #input
                        (change)="this.stepModelService.onInputCheckboxSelected(checkbox.identifier, step.wordToReplace, input.checked)"
                        [checked]="checkbox.checked"  />
                        <span>{{checkbox.label}}.</span>
                    </label>
                  </div>
              </div>
              <div class="form-creator__fields-area__field__bottom">
                  <span class="form-creator__fields-area__field__bottom__mandatory-label">
                      Obligatorio *
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>