<div class="blog">
    <div class="blog__container">
        <div class="blog__header">
            <div class="blog__header__container">
                <div class="blog__header__image">
                    <img src="{{this.contractImageSrc}}" alt="documento">
                </div>
                <div class="blog__header__title">
                    <h1>Contrato de compraventa de vehículo usado</h1>
                    <span class="blog__header__title__date">
                        <span>Actualizado:</span> 01 Febrero 2020
                    </span>
                    <div class="blog__header__title__button">
                        <button  [routerLink]="['/certified-forms', 'contrato-compraventa-vehiculo']"
                        class="button-filled button-filled--start-form">
                            Rellenar formulario
                        </button>
                    </div>
                    <div class="blog__header__title__author">
                        <!-- <span class="blog__header__title__author__label">Author: </span> -->
                        <img src="./assets/images/avatar.jpg" alt="avatar">
                        <span class="blog__header__title__author__name">
                            <a href="#">Juan Camejo Alarcón</a>
                        </span>
                    </div>
                    <div class="blog__header__title__icons">
                        <div class="blog__header__title__icons__step">
                            <span class="icon icon-file-regular"></span>
                            <span class="blog__header__title__icons__step__number">1.</span>
                            <span class="blog__header__title__icons__step__description">Elige un documento</span>
                        </div>
                        <div class="blog__header__title__icons__step">
                            <span class="icon icon-list-alt-regular"></span>
                            <span class="blog__header__title__icons__step__number">2.</span>
                            <span class="blog__header__title__icons__step__description">Rellena el formulario</span>
                        </div>
                        <div class="blog__header__title__icons__step">
                            <span class="icon icon-print-solid"></span>
                            <span class="blog__header__title__icons__step__number">3.</span>
                            <span class="blog__header__title__icons__step__description">Guárdalo e imprímelo</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__body">
            <div class="blog__body__container">
                <section>
                    <h3>Título ejemplo</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                </section>
                <section>
                    <h3>Título ejemplo</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                </section>
                <section>
                    <h3>Título ejemplo</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, aliquam quasi, 
                        laudantium facilis ducimus, nobis impedit nam eius aperiam quo qui soluta temporibus minima. 
                        Veniam deserunt quibusdam dolore eligendi culpa!
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>