<div class="form-creator__fields-area__middle__container fade-in">
  <div class="form-creator__fields-area__field">
      <div class="form-creator__fields-area__field__container">
          <div class="form-creator__fields-area__field__field-area form-creator__fields-area__field__field-area--input-text">
              <div class="form-creator__fields-area__field__top form-creator__fields-area__field__top--fill-form">
                  <div class="indication" *ngIf="step.indications && step.indications.areIndications">
                      <span class="icon icon-info-circle-solid trigger" (click)="showIndication()"></span>
                  </div>
              </div>
              <div class="form-creator__fields-area__field__middle">
                  <span class="form-creator__fields-area__field__middle__question">{{step.question}}</span>
                  <div class="input-select">
                    <select class="browser-default" (change)="onInputSelectChanged($event)">
                        <option *ngFor="let radio of step.radios" 
                        value="{{radio.radioId}}" [selected]="radio.checked">
                            {{radio.label}}
                        </option>
                    </select>
                </div>
              </div>
              <div class="form-creator__fields-area__field__bottom">
              </div>
          </div>
      </div>
  </div>
</div>