<!-- Radio-c -->
<div #idForHiddenInputs [id]="'idForHiddenInputs' + randomId">
    <div class="field smooth-intro divWhereIsDeleteButton" [id]="'parentId' + randomId" #delete
    [ngClass]="{'field-fill-form': isNewUser() || isEditUser() }">
        <div class="field-content d-none-grid-100" [ngClass]="{'field-content-fill-form': isNewUser() || isEditUser() }">
            <div class="field-area">
    
                <!-- HEADER-->
                <div class="field-area-top d-block" *ngIf="isEditAuthor() || isNewAuthor()">
                    <div class="label">
                        <span>Radio C</span>
                    </div>
                    <div class="dragAndDropBotton">
                        <span class="icon icon-ellipsis-h-solid"></span>
                        <span class="icon icon-ellipsis-h-solid"></span>
                    </div>
                    <div class="identifier">
                        <span class="identifier-label">
                            Id:
                        </span>
                        <span class="identifier-id">
                            <span (dblclick)="showChangeIdInputField()" #draggableText>{{referenceNumber}}</span>
                            <input (blur)="showChangeIdInputField()" (keyup.enter)="changeIdInput.blur()" 
                                    (keyup)="changeId($event)" type="text" value="{{referenceNumber}}" #changeIdInput>
                        </span>
                    </div>
                </div>
    
                <span *ngIf="isNewAuthor()">
                    <div class="field-area-top field-area-top-fill-form d-none-flex"
                    (click)="toggleModal(false)"
                    *ngIf="indications !== '' && indications !== undefined">
                        <div class="indication">
                            <span class="icon icon-info-circle-solid"></span>
                        </div>
                    </div>
                </span>
                
                <span *ngIf="isEditAuthor()">
                    <div class="field-area-top field-area-top-fill-form d-none-flex"
                        (click)="toggleModal(false)"
                        *ngIf="field.indications !== '' && field.indications !== undefined">
                        <div class="indication">
                            <span class="icon icon-info-circle-solid"></span>
                        </div>
                    </div>
                </span>

                <span *ngIf="isNewUser() || isEditUser()">
                    <div class="field-area-top"
                        (click)="toggleModal(false)"
                        *ngIf="field.indications !== '' && field.indications !== undefined">
    
                        <div class="indication">
                            <span class="icon icon-info-circle-solid"></span>
                        </div>
                        
                    </div>
                </span>
    
                <div class="field-area-middle">
                  
                    <input *ngIf="isEditAuthor()"
                    type="text" 
                    class="{{questionIdentifier}} question-field d-block"
                    placeholder="Question" [(ngModel)]="field.question">
    
                    <input *ngIf="isNewAuthor()"
                    type="text"
                    class="{{questionIdentifier}} question-field d-block"
                    placeholder="Question" [(ngModel)]="this.question">
    
                    <span class="question d-none" *ngIf="isNewAuthor()">{{question}}</span>
                    <span class="question d-none" *ngIf="isEditAuthor()">{{field.question}}</span>
                    <span class="question" *ngIf="isNewUser() || isEditUser()">{{field.question}}</span>
                    
                    <div #radios id="{{randomId}}" class="inputRadio inputCollection" (click)="onRadioSelected()">
                        <span *ngIf="isEditAuthor() || isNewUser() || isEditUser()">
                          <app-new-radio-c *ngFor="let radio of field.radios" [field]="radio" [state]="state"></app-new-radio-c>
                        </span>
                    </div>
    
                    <div class="add-another-radio-button d-block" (click)="addNewRadio()" *ngIf="isEditAuthor() || isNewAuthor()">
                        <span class="icon icon-plus-circle-solid"></span>
                    </div>
                </div>
                
                <div class="field-area-bottom d-block" *ngIf="isNewAuthor() || isEditAuthor()">
                    <label class="switch d-block" >
                            <input type="checkbox" class="{{mandatoryIdentifier}}" [(ngModel)]="mandatory" *ngIf="isNewAuthor()">
                            <input type="checkbox" class="{{mandatoryIdentifier}}" [(ngModel)]="field.mandatory" *ngIf="isEditAuthor()">
                        <span class="slider round"></span>
                    </label>
                    <span class="switch-label d-block">Obligatorio</span>
                </div>

                <div class="field-area-bottom field-area-bottom-input-text d-none-flex" *ngIf="isNewAuthor() && mandatory">
                    <span class="mandatory">
                        Obligatorio *
                    </span>
                </div>
                <div class="field-area-bottom field-area-bottom-input-text" 
                    *ngIf="(isEditAuthor() || isNewUser() || isEditUser()) && field.mandatory" [ngClass]="{'d-none-flex': isEditAuthor() }">
                    <span class="mandatory">
                        Obligatorio *
                    </span>
                </div>
            </div>
            <div class="right-button d-flex" id="right-button" *ngIf="isNewAuthor() || isEditAuthor()">
                <div class="tooltip">
                    <span class="icon icon-ellipsis-v-solid" id="right-button-menu" #rightMenuButton (click)="showRightMenu()"></span>
                    <span class="right-button-menu" #rightMenu>
                        <div class="group">
                            <span #showModalButton>Indicaciones</span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="remove-button d-block" *ngIf="isEditAuthor()" (click)="deleteElementDiv()">
            <span class="icon icon-trash-alt-regular"></span>
        </div>
    </div>
    <span *ngIf="isEditAuthor() || isNewUser() || isEditUser()">
        <app-hidden-inputs *ngFor="let radio of field.radios" [optionalValues]="{randomId: radio.randomId}"
                        [isInsideALoop]="false" [state]="state"></app-hidden-inputs>
    </span>
</div>
    
<!-- Modal -->
<div class="modal" #modal>
    <div class="modal-content">
        <div class="modal-top modal-top-input-text">
            <h5>Indicaciones para pregunta</h5>
            <span *ngIf="isNewAuthor()">{{question}}</span>
            <span *ngIf="isEditAuthor()">{{field.question}}</span>

            <span *ngIf="isNewUser()">{{field.question}}</span>
        </div>
        <div class="modal-middle modal-middle-input-text">
            <textarea class="d-block {{indicationsIdentifier}}" cols="30" rows="10" [(ngModel)]="indications" *ngIf="isNewAuthor()"></textarea>
            <textarea class="d-block {{indicationsIdentifier}}" cols="30" rows="10" [(ngModel)]="field.indications" *ngIf="isEditAuthor()"></textarea>
            <p class="d-none" *ngIf="isNewAuthor()">{{indications}}</p>
            <p class="d-none" *ngIf="isEditAuthor()">{{field.indications}}</p>

            <p class="d-block" *ngIf="isNewUser()">{{field.indications}}</p>
        </div>
        <div class="modal-bottom modal-bottom-input-text">
            <button class="button d-block" (click)="toggleModal(false)" *ngIf="isNewAuthor() || isEditAuthor()">Guardar</button>
            <button class="button delete-indications d-block" (click)="toggleModal(true)" *ngIf="isNewAuthor() || isEditAuthor()">Borrar</button>
            <button class="button" (click)="toggleModal(false)" [ngClass]="{'d-none': isNewAuthor() || isEditAuthor() }">Entendido</button>
        </div>
    </div>
</div>