<div class="profile">
    <div class="profile__container">
        <div class="profile__image">
            <img src="assets/images/silvia-avatar.jpeg" alt="avatar">
        </div>
        <div class="profile__info">
            <span class="profile__info__name">Silvia Camejo Alarcón</span>
            <span class="profile__info__description">
                
            </span>
            <span class="description">
                User has not added any description yet.
            </span>
            <span class="profile__info__contact">
                
            </span>
            <span class="profile__info__company-name" >
                
            </span>
        </div>
    </div>
</div>

<div class="search__container">
    <div class="search__button">
        <!-- <input type="text" (keyup.enter)="search(input.value)" #input> -->
    </div>
    <div class="search__orderby">
        <div class="search__orderby__container">
            <!-- <label for="orderby">Order by: </label>
            <select id="orderby" autofocus="true" (change)="setOrder($event.target.value)">
                <option value="Date">Date</option>
                <option value="Like">Likes</option>
            </select> -->
        </div>
    </div>
    <div class="search__results">
        <div class="search__results__container">

            <div class="search__results__result" >
                <div class="search__results__result__document" [routerLink]="['/certified-forms/contrato-compraventa-vehiculo']">
                    <div class="search__results__result__document__container">
                        <div class="search__results__result__document__container__date">
                            <span>20 abril 2019</span>
                        </div>
                        <div class="search__results__result__document__container__title">
                            <span>Contrato de compraventa de vehículo usado entre particulares</span>
                        </div>
                        <div class="search__results__result__document__container__likes-views">
                            <div class="search__results__result__document__container__likes-views__likes">

                            </div>
                            <div class="search__results__result__document__container__likes-views__views">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="search__results__result__more-info">
                    <!-- <div class="search__results__result__more-info__author">
                        <img src="{{
                            !form.author.image ? 'assets/images/avatar.jpeg' : form.author.image
                        }}" alt="avatar">
                        <span [routerLink]="['/profile', form.author.username]">{{ form.author.username }}</span>
                    </div>
                    <div class="search__results__result__more-info__tags">
                        <span>tag, tag, tag, tag, tag, tag, tag, tag, 
                            tag, tag, tag, tag, tag, tag, tag, tag</span>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</div>