<div class="form-creator__fields-area__middle__container fade-in">
  <div class="form-creator__fields-area__field">
      <div class="form-creator__fields-area__field__container">
          <div class="form-creator__fields-area__field__field-area form-creator__fields-area__field__field-area--input-text">
              <div class="form-creator__fields-area__field__top form-creator__fields-area__field__top--fill-form">
                  <div class="indication" *ngIf="step.indications && step.indications.areIndications">
                      <span class="icon icon-info-circle-solid trigger" (click)="showIndication()"></span>
                  </div>
              </div>
              <div class="form-creator__fields-area__field__middle">
                  <span class="form-creator__fields-area__field__middle__question">{{step.question}}</span>
                  <input type="text" [value]="step.replacement" #input
                  (keyup)="onInput($event)" (click)="onInput($event)"
                  [placeholder]="step.placeholder ? step.placeholder : ''"
                  [ngStyle]="{'borderBottom': inputInvalid ? '3px solid red' : ''}" *ngIf="step.subType !== 'textarea'">
                  <textarea [value]="step.replacement" #input 
                  (keyup)="onInput($event, step.wordToReplace)"
                  [placeholder]="step.placeholder ? step.placeholder : ''"
                  [ngStyle]="{'borderBottom': inputInvalid ? '3px solid red' : ''}" 
                  cols="30" rows="6" *ngIf="step.subType === 'textarea'"></textarea>
              </div>
              <div class="form-creator__fields-area__field__bottom">
                  <span class="form-creator__fields-area__field__bottom__mandatory-label" *ngIf="step.mandatory">
                      Obligatorio *
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>