<div class="navbar-and-main" id="navbar-and-main">
  <div id="nav-and-content">
    <div id="nav-and-others">
      <nav class="nav" #navbar>
        <div class="nav__container">
          <img src="/assets/images/logo.png" alt="logo" class="nav__logo" routerLink="/search">
          <ul class="nav__menu">
            <li  class="nav__menu__button" routerLinkActive="nav__menu__button--current">
              <a routerLink="/search" i18n="@@search">Buscar</a>
            </li>
            <li  class="nav__menu__button" routerLinkActive="nav__menu__button--current" *ngIf="!this.isAuth">
              <a routerLink="/auth/login" i18n="@@createForm">Crear</a>
            </li>
            <li class="nav__menu__button" routerLinkActive="nav__menu__button--current" *ngIf="this.isAuth">
              <a routerLink="/create-form">Crear</a>
            </li>
            <li class="nav__menu__button" routerLinkActive="nav__menu__button--current" *ngIf="this.isAuth">
              <a routerLink="/my-forms">Mis formularios</a>
            </li>
            <li class="nav__menu__button" routerLinkActive="nav__menu__button--current" *ngIf="this.isAuth">
              <a routerLink="/settings">Ajustes</a>
            </li>
            <li class="nav__menu__button" routerLinkActive="nav__menu__button--current" *ngIf="!this.isAuth">
              <a routerLink="/auth/login">Iniciar sesión</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- SPINNER -->
      <app-loading-spinner></app-loading-spinner>
        <!-- END OF SPINNER -->
    </div>
    <router-outlet></router-outlet>
  </div>

  <footer class="footer" #footer>
    <div class="footer__container">
      <div class="footer__social">
        <ul class="footer__social__links">
          <li>
            <a href="https://www.facebook.com/Automatik-Docs-103343058056131?locale=es_ES">
              <span class="icon icon-facebook-f-brands"></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/AutomatikD">
              <span class="icon icon-twitter-brands"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__contact-link">
        <a routerLink="/static/contact">CONTACTO</a>
      </div>
      <div class="footer__legal">
        <ul class="footer__legal__links">
          <li>
            <a routerLink="/static/condiciones-uso">Condiciones de uso</a>
          </li>
          <li>
            <a routerLink="/static/privacy">Nota de privacidad</a>
          </li>
          <li>
            <span>© 2019 Camejo Alarcón Abogados</span>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
