<div class="modal__content__top modal__content__top--privacy">
    <div class="checkout-panel__body__progress-bar">
        <div class="checkout-panel__body__progress-bar__step checkout-panel__body__progress-bar__step__active"></div>
        <div class="checkout-panel__body__progress-bar__step" [ngClass]="{'checkout-panel__body__progress-bar__step__active': this.steps[this.currentStep].stepNum > 0}"></div>
        <div class="checkout-panel__body__progress-bar__step" [ngClass]="{'checkout-panel__body__progress-bar__step__active': this.steps[this.currentStep].stepNum > 1}"></div>
        <div class="checkout-panel__body__progress-bar__step" [ngClass]="{'checkout-panel__body__progress-bar__step__active': this.steps[this.currentStep].stepNum > 2}"></div>
    </div>
</div>
<div class="modal__content__modal-middle modal__content__modal-middle--privacy" id="modal-middle-privacy" style="border-bottom: none">
    <div class="modal__content__modal-middle__container">
        <div class="checkout-panel__body__invoice" *ngIf="this.steps[this.currentStep].type === 'cart'">
            <div class="checkout-panel__body__invoice__container">
                <div class="checkout-panel__body__invoice__document">
                    <img src="{{form.image}}" alt="checkout-image">
                </div>
                <div class="checkout-panel__body__invoice__text">
                    <h2 class="checkout-panel__body__invoice__text__title">{{form.title}}</h2>
                    <div class="checkout-panel__body__invoice__text__description">
                        <ul>
                            <li>Descarga inmediata en formatos Word y PDF</li>
                            <li>Una vez comprado podrás retroceder, modificar el formulario y descargar de nuevo</li>
                        </ul>
                    </div>
                    <div class="checkout-panel__body__invoice__text__total">
                        <span class="checkout-panel__body__invoice__text__total__right">Total:</span>
                        <span class="checkout-panel__body__invoice__text__total__left">{{form.amount / 100}} €</span>
                    </div>
                    <div class="checkout-panel__body__invoice__text__more-info">
                        <span>
                            <img src="/assets/images/ssl-secure-en.png" alt="secure payment">
                        </span>
                        <span>
                            <a href="https://stripe.com/" target="_blank">
                                <img src="/assets/images/stripe-logo.png"/>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-panel__body__email" *ngIf="this.steps[this.currentStep].type === 'login'">
            <div class="checkout-panel__body__email__container">
                <h1 class="checkout-panel__body__email__container__title">Dirección de correo para recibir el documento</h1>
                <label for="email"></label>
                <input type="email" name="email" id="name" placeholder="Email" [(ngModel)]="email" #emailInput>
                <label class="checkout-panel__body__email__container__message" *appShowAuthed="false">
                    ¿Tienes cuenta? <a href="javascript:void(0)" (click)="goToAuth();">Inicia sesión</a>
                </label>
                <br *appShowAuthed="true">
                <div class="checkout-panel__body__email__container__message">
                    <label for="conditions">
                        <input type="checkbox" class="filled-in" name="conditions" id="conditions" [(ngModel)]="conditionsChecked" #conditions/>
                        <span>Acepto las condiciones generales de venta 
                            <a class="trigger" routerLink="/static-pages/cgv" target="_blank">(leer las CGV)</a>
                        </span>
                    </label>
                </div>
                <!-- <input type="submit" value="Hacer pedido"> -->
            </div>
        </div>
        <div class="payment-container" *ngIf="this.steps[this.currentStep].type === 'payment'">
            <div class="checkout-panel__body__payment-method" *ngIf="this.loadingPayment === false">
                <label for="card" class="checkout-panel__body__payment-method__method card">
                    <div class="checkout-panel__body__payment-method__method__card-logos">
                        <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png"/>
                        <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png"/>
                    </div>
                    <div class="checkout-panel__body__payment-method__method__radio-input">
                        <input id="card" type="radio" name="payment" value="card" (change)="onPaymentMethodSelected('card')" checked >
                        con tarjeta
                    </div>
                </label>
                
                <label for="paypal" class="checkout-panel__body__payment-method__method paypal">
                    <div class="checkout-panel__body__payment-method__method__card-logos">
                        <img src="https://designmodo.com/demo/checkout-panel/img/paypal_logo.png"/>
                    </div>
                    <div class="checkout-panel__body__payment-method__method__radio-input">
                        <input id="paypal" type="radio" name="payment" value="paypal" (change)="onPaymentMethodSelected('paypal')">
                        con paypal
                    </div>
                </label>
            </div>
            <form class="checkout-panel__body__input-fields" id="payment-form" *ngIf="this.loadingPayment === false && this.paymentMethod === 'card'">
                <div class="checkout-panel__body__input-fields__column-1">
                    <label class="hosted-field--label" for="cardholder-name" name="cardholderName">Nombre</label>
                    <input type="text" id="cardholder" placeholder="P. ej: Juan Pérez Álvarez" class="name-custom-input" [(ngModel)]="cardholdersName" name="cardholderName"/>
                    <div class="checkout-panel__body__input-fields__small-inputs">
                        <div>
                            <label for="expirationDate">Fecha válida</label>
                            <div class="hosted-fields-stripe"  id="expirationDate" #dateField></div>
                            <small class="secondary-color" hidden>Fecha de expiración inválida</small>
                        </div>
                        <div>
                            <label for="cvv">CVV / CVC *</label>
                            <div class="hosted-fields-stripe" id="cvv" name="cvv" #cvv></div>
                            <small class="secondary-color" hidden>CVV Inválido</small>
                        </div>
                    </div>
                </div>
                <div class="checkout-panel__body__input-fields__column-2">
                    <label for="number">Número de la tarjeta</label>
                    <!-- <div class="hosted-fields" id="number"></div> -->
                    <div class="hosted-fields-stripe" id="card-element" #cardField></div>
                    <small class="secondary-color" hidden>Número inválido</small>
                    <span class="info">* El código CVV o CVC es un grupo de 3 o 4 números situado en el reverso de la tarjeta de crédito.</span>
                </div>
            </form>
            <div style="height: 200px; margin-left: auto;margin-right:auto; display: flex;align-items: center;" 
                *ngIf="this.paymentMethod === 'paypal'">
                <div id="paypal-button" style="width: 300px;"></div>
            </div>
            <!-- <div id="paypal-button" [hidden]="this.paymentMethod !== 'paypal'"></div> -->
        </div>
        <div class="checkout-panel__body__success" *ngIf="this.steps[this.currentStep].type === 'finish'">
            <!-- <span class=" form-creator__fields-area__end-step__check icon icon-check-circle-solid"></span> -->
            <h2>Transacción: {{transactionId}}</h2>
            <div class="checkout-panel__body__invoice__text__total">
                <span class="checkout-panel__body__invoice__text__total__right total-success">{{form.title}}</span>
                <span class="checkout-panel__body__invoice__text__total__left total-success">{{form.amount / 100}} €</span>
            </div>
            <p class="checkout-panel__body__success__message">Recibirás un mensaje a <strong>{{this.email}}</strong> con tu factura así como los documentos. 
                Durante los próximos 15 días podrás modificar el formulario de nuevo sin tener que pagar 
                y volver a descargarlo, una vez terminado el plazo caducará.</p>
            <div class="checkout-panel__body__success__download">
                <h3>Descarga ahora</h3>
                <span class="icon icon-file-word-solid trigger" (click)="downloadWord()"></span>
                <span class="icon icon-file-pdf-solid" (click)="downloadPdf()"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal__content__modal-bottom modal__content__modal-bottom--privacy checkout-panel__footer">
    <button class="btn back-btn" (click)="moveStep('previous')" 
    [ngStyle]="{'opacity': this.steps[this.currentStep].type === 'cart' ? 0 : 1 }"
    [style.display]="this.steps[this.currentStep].type === 'cart' ? 'none' : 'block'"
    [disabled]="this.steps[this.currentStep].type === 'cart'"
    *ngIf="this.steps[this.currentStep].type !== 'finish'">Anterior</button>

    <button class="btn back-btn" (click)="this.exitModal.emit();" 
    *ngIf="this.steps[this.currentStep].type === 'cart'">Anterior</button>

    <button class="btn back-btn" (click)="this.exitModal.emit();" 
    *ngIf="this.steps[this.currentStep].type === 'finish'">Anterior</button>
    
    <button class="btn next-btn" (click)="moveStep('next')"
    [ngStyle]="{'opacity': this.steps[this.currentStep].type === 'finish' ? 0 : 1 }"
    [disabled]="this.steps[this.currentStep].type === 'finish'"
    *ngIf="this.steps[this.currentStep].type !== 'payment'"
    >Siguiente</button>

    <button class="btn next-btn secondaryC-background-color" (click)="onSubmit()"
    *ngIf="this.steps[this.currentStep].type === 'payment' && this.paymentMethod === 'card'">
        <strong>PAGAR</strong>
    </button>
</div>