<div class="form-creator__fields-area__field__middle__radio-input radio divWhereIsDeleteButton" #delete 
    [ngClass]="{'form-creator__fields-area__field__middle__radio-input--fill-form': state === 'fill-form' }">

    <p>
        <label>
            <input class="with-gap" type="radio" name="{{randomName}}" [checked]="checked" value="{{radioValue}}" (change)="onInputChange(radioInput.checked)" #radioInput/>
            <span>
                <div *ngIf="state === 'create-form'"></div>
                <div *ngIf="state === 'fill-form'">{{question}}</div>
            </span>
        </label>
    </p>

    <input [(ngModel)]="question" type="text" name="radio" (keyup)="onQuestionChange()" *ngIf="state === 'create-form'">

    <div class="modal-button d-block modal-button-radio" (click)="toggleModal()" *ngIf="state === 'create-form'">
        <span class="icon icon-modal-icon"></span>
    </div>

    <div class="form-creator__fields-area__field__middle__radio-input__remove-radio remove-radio d-block" *ngIf="!isNewForm && state === 'create-form'">
        <span class="icon icon-times-solid" (click)="deleteElementDiv()"></span>
    </div>

    <!-- Modal -->
    <div class="modal" #modal>
        <div class="modal__content modal__content--add-new-question">
            <div class="new-modal-content">
                <div class="modal__content__top modal__content__top--privacy">
                    <h3>Este texto se sustituirá por el identificador</h3>
                </div>
                <div class="new-modal-content__body" style="border-bottom: 3px solid #556270;">
                    <textarea style="height: 85%;" cols="30" rows="10" (keyup)="onValueChanged()" [(ngModel)]="radioValue"></textarea>
                </div>
                <div class="modal__content__modal-bottom modal__content__modal-bottom--privacy">
                    <button class="button-filled" (click)="toggleModal()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>