<div class="sub-menu">
    <div class="sub-menu__container" #subMenu>
        <div class="sub-menu__left-button">
            <!-- <button routerLink="/guide" class="button-filled button-filled--sub-menu">Guide</button> -->
            <button class="button-filled button-filled--sub-menu-fill-form icon icon-save-solid"
            [disabled]="isSubmitting" (click)="submitForm()"></button>
            <button class="button-filled button-filled--sub-menu-fill-form icon icon-trash-alt-regular"
            *ngIf="updatingForm" [ngClass]="{disabled: isDeleting}" (click)="deleteForm()"></button>
        </div>
        <ul class="sub-menu__nav sub-menu__nav--form" (click)="topMenuNav($event)">
            <li class="sub-menu__nav__button sub-menu__nav__button--current" data-toogle="form-creator" #linkFormButton>
                Form
            </li>
            <li class="sub-menu__nav__button" data-toogle="information" #linkInformationButton>
                Information
            </li>
            <li class="sub-menu__nav__button" data-toogle="comments" *ngIf="updatingForm">
                Comments
            </li>
        </ul>
        <div class="sub-menu__right-button">
            <span class="sub-menu__right-button__label">Preview</span>
            <label class="switch">
                <input type="checkbox" (change)="preview(previewMode.checked);" #previewMode>
                <span class="slider slider--round"></span>
            </label>
        </div>
    </div>
</div>
<div class="form-creator" id="form-creator" #formBasedDocDiv>
    <div class="form-creator__container">
        <div class="form-creator__fields-area" id="fields-area">
            <div class="form-creator__fields-area__container">
                
                <div class="form-creator__fields-area__top">
                    <div class="form-creator__fields-area__top__container">
                        <div class="form-creator__fields-area__top__preview-button" (click)="previewDocumentButton(true);">
                            Preview Doc 
                            <span class="icon icon-sort-down-solid"></span>
                        </div>
                        <div class="form-creator__fields-area__top__add-question d-flex" *ngIf="state === 'create-form'">
                            Add
                            <span class="icon icon-plus-circle-solid" (click)="toogleModal(addQuestionMenuModal, true)"></span>
                        </div>
                    </div>
                </div>

                <div class="form-creator__fields-area__middle">
                    <div class="form-creator__fields-area__middle__container" id="formAreaDiv" #formAreaDiv>
                        <div *ngIf="updatingForm">
                            <div *ngFor="let field of fields">
                                <app-input-text *ngIf="field['type'] == 'iText'" [field]="field"></app-input-text>
                                <app-input-radio-a *ngIf="field['type'] == 'iRadioA'" [field]="field"></app-input-radio-a>
                                <app-input-radio-b *ngIf="field['type'] == 'iRadioB'" [field]="field"></app-input-radio-b>
                                <!-- <app-input-radio-c *ngIf="field['type'] == 'iRadioC'" [state]="state" [field]="field"></app-input-radio-c> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-creator__fields-area__bottom">
                    <div class="pagination" *ngIf="this.form.fields.length">
                        <span class="pagination__left-icon icon icon-chevron-left-solid" 
                            *ngIf="this.form.fields.length >= 2 && currentStep !== 0" (click)="setCurrentStep(currentStep - 1)"></span>
                        <ul>
                            <li *ngFor="let field of this.form.fields; let i = index" 
                            [ngClass]="{'current-page': currentStep === i }" (click)="setCurrentStep(i)">{{i + 1}}</li>
                        </ul>
                        <span class="pagination__right-icon icon icon-chevron-right-solid" 
                            *ngIf="this.form.fields.length >= 2 && currentStep !== this.form.fields.length - 1" (click)="nextStepAfterValidate()"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-creator__text-area" id="text-area" 
        [ngClass]="{'form-creator__text-area--quill-text': this.documentType === 'plain'}">
            <!-- Office document -->
            <div id="wodoformbaseddocs" style="width:100%; height:100%; margin:0px; padding:0px" *ngIf="this.documentType === 'office'">
                <div id="editorContainer" style="width:100%; height:100%; margin:0px; padding:0px">
                </div>
            </div>
            <!-- Plain text -->
            <div id="expand-editor-button" class="d-none-flex" (click)="enableFullScreen('editor-preview')"
            *ngIf="this.documentType === 'plain'">
                <span class="icon icon-expand-solid"></span>
            </div>
            <div id="editor-container" class="d-block" #quill *ngIf="this.documentType === 'plain' && plainTextSelected">
                <quill-editor id="editor" (onContentChanged)="quillText = $event.html;" 
                            [ngModel]="quillText" [ngModelOptions]="{standalone: true}" 
                            [customOptions]="customOptions" [modules]="quillModules"
                            (onEditorCreated)="setAdditionalQuillButtons($event)">
                </quill-editor>
            </div>
            <!-- Result -->
            <div class="form-creator__text-area__quill-text-result ql-container ql-snow d-none" id="editor-preview" #textPreviewDiv
            *ngIf="this.documentType === 'plain'" style="height: auto;">
                {{quillText}}
            </div>
            <button class="button-filled button-filled--preview-document" id="scrollToTop" style="display: none;" (click)="previewDocumentButton(false)">Form <span style='font-size:20px;'>&#8593;</span></button>
        </div>
    </div>
</div>
<form [formGroup]="formGroup" class="information" id="information" style="display: none">
    <app-list-errors class="information-error" [errors]="errors"></app-list-errors>
    <div class="information__container">
        <div class="information__section-left">
            <input formControlName="title" type="text" placeholder="Título" #title>
            <textarea formControlName="description" name="description" id="description" cols="30" 
            rows="6" placeholder="description" #description (keyup)=validateDescription($event)></textarea>
            <!-- <textarea formControlName="indications" name="indications" id="description" cols="30" rows="10" placeholder="indications"></textarea> -->
            <div class="information__section-left__indications">
                <!-- Create the editor container -->
                <quill-editor placeholder="Indicaciones antes de rellenar el formulario" 
                (onContentChanged)="this.form.indications = $event.html"
                formControlName="indications"
                [modules]="{
                    toolbar: [
                    ['bold', 'italic', 'underline', 'strike'], 
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'size': ['small', false, 'large', 'huge'] }],
                    [{ 'direction': 'rtl' }],
                    ['link']]}">
                </quill-editor>
            </div>
        </div>
        <div class="information__section-right">
            <div class="information__section-right__tags">
                <input type="text" placeholder="tags"
                [formControl]="tags" (keyup.enter)="addTag()">
                <div class="information__section-right__tags__container">
                    <span class="tag-text" *ngFor="let tag of form.tags">
                            {{ tag }} <span class="icon icon-times-solid" (click)="removeTag(tag)"></span>
                    </span>
                </div>
            </div>
            <div class="information__section-right__buttons">
                <div class="information__section-right__buttons__switch-button">
                    <label class="switch">
                        <input type="checkbox" checked formControlName="public">
                        <span class="slider slider--round"></span>
                    </label>
                    <span class="information__section-right__buttons__switch-button__label">
                        Hacer el formulario privado
                    </span>
                </div>
                <div class="information__section-right__buttons__switch-button">
                    <label class="switch">
                        <input type="checkbox" checked formControlName="commentsEnabled">
                        <span class="slider slider--round"></span>
                    </label>
                    <span class="information__section-right__buttons__switch-button__label">
                        Desactivar comentarios
                    </span>
                </div>
                <div class="information__section-right__buttons__switch-button">
                    <label class="switch">
                        <input type="checkbox" checked formControlName="enabled">
                        <span class="slider slider--round"></span>
                    </label>
                    <span class="information__section-right__buttons__switch-button__label">
                        Mantener el formulario inactivo
                    </span>
                </div>
            </div>
            <div class="information__section-right__notifications">
                <span class="information__section-right__notifications__title">Activar notificaciones</span>
                <div class="information__section-right__notifications__checkboxes">
                    <div class="information__section-right__notifications__form-group">
                        <label for="notifications">
                            <input type="checkbox" class="filled-in" name="notifications" id="notifications" value="Notifications" checked/>
                            <span>Desea que le enviemos notificaciones a su correo</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="comments" style="display: none" *ngIf="updatingForm">
    <div class="comments">
        <app-comments class="comments__container" [form]="form"></app-comments>
    </div>
</div>

<!-- CHOOSE DOCUMENT TYPE -->
<div class="modal" #modalChooseDocument>
    <div class="modal__content modal__content--choose-document-type">
        <div class="checkout-panel">
            <div class="checkout-panel__body checkout-panel__body--choose-document-type">    

                <div class="checkout-panel__body__document-type-selection">
                    <div class="checkout-panel__body__document-type-selection__container">
                        <div class="checkout-panel__body__document-type-selection__button-area">
                            <!-- <div class="checkout-panel__body__document-type-selection__button-area__info-button">
                                <span class="icon icon-info-circle-solid"></span>
                            </div> -->
                            <div class="checkout-panel__body__document-type-selection__button-area__doc-button"
                            (click)="this.documentType = 'office'" (dblclick)="toogleModal(modalChooseDocument); setDocument('office');"
                            [ngClass]="{'checkout-panel__body__document-type-selection__button-area__doc-button--active': this.documentType === 'office'}">
                                <span>Documento Office</span>
                                <br>
                                <small>Seleccione la opción Documento Office cuando lo que desee crear sea un documento exportable a formatos word o pdf.
                                    Un documento de las dimensiones de un folio. </small>
                            </div>
                        </div>
                        <div class="checkout-panel__body__document-type-selection__button-area">
                            <!-- <div class="checkout-panel__body__document-type-selection__button-area__info-button">
                                <span class="icon icon-info-circle-solid"></span>
                            </div> -->
                            <div class="checkout-panel__body__document-type-selection__button-area__doc-button"
                            (click)="this.documentType = 'plain'" (dblclick)="toogleModal(modalChooseDocument); setDocument('plain');"
                            [ngClass]="{'checkout-panel__body__document-type-selection__button-area__doc-button--active': this.documentType === 'plain'}">
                                <span>Texto Simple</span>
                                <br>
                                <small>Seleccione la opción Texto Simple cuando lo que desea crear es un texto sin ningún formato específico.</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>         
            <div class="checkout-panel__footer checkout-panel__footer--one-button">
                <button class="btn next-btn" (click)="toogleModal(modalChooseDocument); setDocument(this.documentType);">Listo</button>
            </div>
        </div>
    </div>
</div>

<!-- ADD QUESTION MENU -->
<div class="modal" #addQuestionMenuModal>
    <div class="modal__content modal__content--add-new-question">
        <div class="modal__content__modal-middle modal__content__modal-middle--add-new-question">
            <div class="modal__content__modal-middle__container" style="margin: 0px">
                <div class="modal__content__modal-middle__button-panel">
                    <div class="modal__content__modal-middle__button-panel__container">
                        <div class="modal__content__modal-middle__button-panel__row">
                            <span class="modal__content__modal-middle__button-panel__row__label">
                                Input text
                                <sup class="icon icon-info-circle-solid" (click)="toggleLightbox(lightBox); currentGuide = 'input-text'"></sup>
                            </span>
                            <button class="button-filled button-filled--add-new-question"
                            (click)="injectComponent(inputs[0]); toogleModal(addQuestionMenuModal); setCurrentStep(this.form.fields.length - 1);" >
                                Add
                                <span class="icon icon-plus-solid"></span>
                            </button>
                        </div>
                        <div class="modal__content__modal-middle__button-panel__row">
                            <span class="modal__content__modal-middle__button-panel__row__label">
                                Input radio a
                                <sup class="icon icon-info-circle-solid" (click)="toggleLightbox(lightBox); currentGuide = 'input-radio-a'"></sup>
                            </span>
                            <button class="button-filled button-filled--add-new-question"
                            (click)="injectComponent(inputs[1]); toogleModal(addQuestionMenuModal); setCurrentStep(this.form.fields.length - 1);">
                                Add
                                <span class="icon icon-plus-solid"></span>
                            </button>
                        </div>
                        <div class="modal__content__modal-middle__button-panel__row">
                            <span class="modal__content__modal-middle__button-panel__row__label">
                                Input radio b
                                <sup class="icon icon-info-circle-solid" (click)="toggleLightbox(lightBox); currentGuide = 'input-radio-b'"></sup>
                            </span>
                            <button class="button-filled button-filled--add-new-question"
                            (click)="injectComponent(inputs[2]); toogleModal(addQuestionMenuModal); setCurrentStep(this.form.fields.length - 1);">
                                Add
                                <span class="icon icon-plus-solid"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__content__modal-bottom modal__content__modal-bottom--privacy">
                <button class="button-filled" id="modal-button" (click)="toogleModal(addQuestionMenuModal)">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="info-lightbox" #lightBox>
    <span class="close-info-lightbox" (click)="toggleLightbox(lightBox)">&times;</span>
    <div class="info-lightbox__content">
        <app-input-text-guide *ngIf="currentGuide === 'input-text'"></app-input-text-guide>
        <app-input-radio-a-guide *ngIf="currentGuide === 'input-radio-a'"></app-input-radio-a-guide>
        <app-input-radio-b-guide *ngIf="currentGuide === 'input-radio-b'"></app-input-radio-b-guide>
    </div>
</div>