<div class="sign-in-search-button sign-in-search-button--return" >
    <a [routerLink]="['/search']" *ngIf="!this.queryParams['formPath']">
        <span class="icon icon-search"></span>
    </a>
    <a [routerLink]="[('/certified-forms/'+ this.queryParams['formPath'])]" *ngIf="this.queryParams['formPath']"
    class="sign-in-search-button__return-to-form">
        <span class="icon icon-arrow-left-solid "></span>
        <span>Return to form</span>
    </a>
</div>
<div class="sign-in">
    <div class="sign-in__container">
        <img src="/assets/images/logo.png" alt="login image" class="sign-in__container__top-image">
        <h1 class="sign-in__container__title">{{ title }}</h1>
        <a [routerLink]="['../login']" *ngIf="authType == 'signup'" class="sign-in__container__need-account">Ya tengo una cuenta</a>
        <a [routerLink]="['../signup']" *ngIf="authType == 'login'" class="sign-in__container__need-account">¿Necesita una cuenta?</a>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form class="sign-in__container__form" [formGroup]="form" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">

                <div class="sign-in__container__form__form-group" *ngIf="authType == 'login'">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" formControlName="email" placeholder="Nombre de usuario o email">
                </div>

                <div class="sign-in__container__form__form-group--signup" *ngIf="authType == 'signup'">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" formControlName="username" placeholder="Nombre de usuario">
                </div>

                <div class="sign-in__container__form__form-group--signup" *ngIf="authType == 'signup'">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" formControlName="email" placeholder="Email">
                </div>

                <div [ngClass]="{'sign-in__container__form__form-group': authType === 'login', 'sign-in__container__form__form-group--signup': authType === 'signup'}">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" formControlName="password" placeholder="Contraseña">
                </div>

                <div class="sign-in__container__form__form-group--signup" *ngIf="authType == 'signup'">
                    <label for="repeat-password"></label>
                    <input type="password" name="repeat-password" id="repeat-password" formControlName="repeatPassword" placeholder="Repetir Contraseña">
                </div>
                <div class="sign-in__container__form__checkbox--signup" *ngIf="authType == 'signup'">
                    <label for="privacy-checkbox" id="privacy-label" (click)="remindUserToReadPrivacyPolicy($event)">
                        <input type="checkbox" class="filled-in" name="privacy" id="privacy-checkbox" value="privacy" disabled #privacyCheckbox/>
                        <span id="privacy-span">He leído y acepto el aviso legal y la <a class="trigger" (click)="toogleModal(modal)">política de privacidad</a></span>
                    </label>
                </div>
                <div class="sign-in__container__form__checkbox--signup" *ngIf="authType == 'signup'">
                    <label for="notifications">
                        <input type="checkbox" class="filled-in" name="notifications" id="notifications" formControlName="notifications" value="Notifications" checked />
                        <span>Desea que le enviemos notificaciones a su correo</span>
                    </label>
                </div>
                <div [ngClass]="{'sign-in__container__form__checkbox': authType === 'login', 'sign-in__container__form__checkbox--signup': authType === 'signup'}">
                    <label for="rememberme">
                        <input type="checkbox" class="filled-in" name="rememberme" id="rememberme" formControlName="rememberme" value="Remember me" checked />
                        <span>Recuérdame</span>
                    </label>
                </div>

                <input type="submit" value="{{ title }}" (click)="checkIfPrivacyChecked($event)">
            </fieldset>
            <a [routerLink]="['../recover-password']" class="sign-in__container__need-account">He olvidado mi contraseña</a>
        </form>
    </div>
</div>

<div class="modal" #modal>
    <div class="modal__content modal__content--privacy">
        <div class="modal__content__top modal__content__top--privacy">
            <h2>Políticas de privacidad</h2>
        </div>
        <div class="modal__content__modal-middle modal__content__modal-middle--privacy" #modalMiddle>
            <div class="modal__content__modal-middle__container">
                <app-privacy-policy></app-privacy-policy>
            </div>
        </div>
        <div class="modal__content__modal-bottom modal__content__modal-bottom--privacy">
            <button class="button-filled button-filled__disabled" id="modal-button" (click)="closeModalAndEnableCheckbox()" #closeModalButton>Entendido</button>
        </div>
    </div>
</div>