<!-- 
<div class="container">
    <div class="form-creator content" id="form-creator" #formCreatorDiv>
        <div class="form-creator-container">
            <div class="fields-area">
                    <div class="fields-container fields-container-fill-formm" id="listWithHandle" #formAreaDiv (keyup)="generateText()" (click)="generateText()">
                        
                        <div class="form-information-label">
                            <div class="label-top">
                                <div class="author-date">
                                    <div class="author">
                                        <div class="author-image-container">
                                            <img src="assets/images/avatar.jpg" alt="avatar">
                                        </div>
                                        <span [routerLink]="['/profile', form.author.username]">
                                            {{form.author.username}}
                                        </span>
                                    </div>
                                    <div class="date">
                                        <span>Last updated:</span>
                                        {{originalForm.updatedAt | date: 'dd/MM/yyyy'}}
                                    </div>
                                </div>
                                <div class="information-modal-icon trigger-indications"
                                    (click)="toggleModal()" *ngIf="form.indications !== '' && form.indications !== undefined">
                                    <span class="icon icon-info-solid"></span>
                                </div>
                            </div>
                            <div class="label-bottom">
                                <h1>{{form.title}}</h1>
                                <p>{{form.description}}</p>
                            </div>
                        </div>

                        <div class="modal-indications" #modal>
                            <div class="modal-content-indications">
                                <div class="modal-top-indications">
                                    <h1>Indicaciones previas del autor</h1>
                                </div>
                                <div class="modal-middle-indications">
                                    <p>
                                        {{form.indications}}
                                    </p>
                                </div>
                                <div class="modal-bottom-indications">
                                    <button class="button close-button-indications" (click)="toggleModal()">Entendido</button>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let field of fields">
                            <app-input-text *ngIf="field['type'] == 'iText'" [state]="state" [field]="field"></app-input-text>
                            <app-input-radio-a *ngIf="field['type'] == 'iRadioA'" [state]="state" [field]="field"></app-input-radio-a>
                            <app-input-radio-b *ngIf="field['type'] == 'iRadioB'" [state]="state" [field]="field"></app-input-radio-b>
                            <app-input-radio-c *ngIf="field['type'] == 'iRadioC'" [state]="state" [field]="field"></app-input-radio-c>
                        </div>

                    </div>
                </div>
            <div class="text-area text-area-fill-form">

                <div id="editor-container" class="editor-fill-form ">
                    <div class="toolbar-fill-form">

                        <span class="icon icon-expand-solid expand-fill-form" (click)="enableFullScreen('editor')"></span>
                        <button class="save-button-fill-form" [disabled]="isSubmitting" (click)="submitForm()" *appShowAuthed="true">
                            <span class="icon icon-save-regular"></span>
                        </button>

                        <button class="save-button-fill-form" routerLink="/auth/login" *appShowAuthed="false">
                            <span class="icon icon-save-regular"></span>
                        </button>
                        
                        <button class="button-delete-editor" [disabled]="isDeleting" *ngIf="updatingForm" (click)="deleteForm()">
                            <span class="icon icon-trash-alt-regular"></span>
                        </button>
                    </div>
                    <div class="ql-editor" id="editor" #formBasedDocDiv>
                        {{generatedText}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="sub-menu">
    <div class="sub-menu__container sub-menu__container--fill-form" #subMenu>
        <div class="sub-menu__left-button sub-menu__left-button--fill-form">
            <button class="button-filled button-filled--sub-menu-fill-form icon icon-save-solid"
            [disabled]="isSubmitting" (click)="submitForm()"></button>
            <button class="button-filled button-filled--sub-menu-fill-form icon icon-trash-alt-regular"
            *ngIf="updatingForm" [ngClass]="{disabled: isDeleting}" (click)="deleteForm()"></button>
        </div>
        <ul class="sub-menu__nav sub-menu__nav--fill-form" (click)="topMenuNav($event)">
            <li class="sub-menu__nav__button sub-menu__nav__button--current" data-toogle="form-creator">
                Form
            </li>
            <li class="sub-menu__nav__button" data-toogle="comments">
                Comments
            </li>
        </ul>
        <app-likes-button class="sub-menu__likes-views" [form]="originalForm"></app-likes-button>
    </div>
</div>
<div class="form-creator" id="form-creator" #formCreatorDiv>
    <div class="form-creator__container">
        <div class="form-creator__fields-area" id="fields-area">

            <div class="form-creator__fields-area__container" #formAreaDiv (keyup)="generateText()" (click)="generateText()">
                <div class="form-creator__fields-area__top">
                    <!-- START (Step 0) -->
                    <div class="form-creator__fields-area__top__container" *ngIf="this.currentStep === 0">
                        <div class="form-creator__fields-area__top__author-date">
                            <span class="form-creator__fields-area__top__author-date__author">
                                <div class="form-creator__fields-area__top__author-date__author__image-container">
                                    <img src="/assets/images/avatar.jpg" alt="avatar">
                                </div>
                                <span [routerLink]="['/profile', form.author.username]">
                                    {{form.author.username}}
                                </span>
                            </span>
                            <span class="form-creator__fields-area__top__author-date__date">
                                <span>Last updated:</span>
                                {{originalForm.updatedAt | date: 'dd/MM/yyyy'}}
                            </span>
                        </div>
                        <div class="form-creator__fields-area__top__before-start-button">
                            <div class="form-creator__fields-area__top__before-start-button__information-modal-icon trigger"
                            *ngIf="form.indications !== '' && form.indications !== undefined">
                                <span class="icon icon-info-solid" (click)="toogleModal(modal)"></span>
                            </div>
                        </div>
                    </div>
                    <!-- END OF START (Step 0) -->
                    <!-- PROGRESSBAR -->
                    <div class="progress-container" *ngIf="this.currentStep !== 0">
                        <div class="progress progress-large">
                            <span [style.width]="progresBarPercentage">{{progresBarPercentage}}</span>
                        </div>
                    </div>
                    <!-- END OF PROGRESSBAR -->
                </div>

                    <!-- Input radio -->
                <div class="form-creator__fields-area__middle">
                    <div class="form-creator__fields-area__middle__container" *ngIf="this.currentStep === 0">
                        <div class="form-creator__fields-area__middle__initial-screen">
                            <h2 class="form-creator__fields-area__middle__initial-screen__form-title">
                                {{form.title}}
                            </h2>
                            <span class="form-creator__fields-area__middle__initial-screen__description">
                                {{form.description}}
                            </span>
                            <button class="button-filled button-filled--start-form" (click)="toogleModal(modal)">
                                Rellenar formulario
                            </button>
                        </div>
                    </div>
                    <div class="form-creator__fields-area__middle__container" [ngStyle]="{'display': this.currentStep !== 0 ? 'block' : 'none'}">
                        <div *ngFor="let field of fields" >
                            <app-input-text *ngIf="field['type'] == 'iText'" [state]="state" [field]="field"></app-input-text>

                            <!-- <app-input-radio-a *ngIf="field['type'] == 'iRadioA'" [state]="state" [field]="field"></app-input-radio-a>
                            <app-input-radio-b *ngIf="field['type'] == 'iRadioB'" [state]="state" [field]="field"></app-input-radio-b>
                            <app-input-radio-c *ngIf="field['type'] == 'iRadioC'" [state]="state" [field]="field"></app-input-radio-c> -->
                        </div>
                    </div>
                </div>
                <!-- START -->
                <div class="form-creator__fields-area__bottom form-creator__fields-area__bottom--initial-screen" *ngIf="this.currentStep === 0">
                    <div class="form-creator__fields-area__bottom__step">
                        <span class="icon icon-file-regular"></span>
                        <span class="form-creator__fields-area__bottom__step__number">1.</span>
                        <span class="form-creator__fields-area__bottom__step__description">Elige un documento</span>
                    </div>
                    <div class="form-creator__fields-area__bottom__step">
                        <span class="icon icon-list-alt-regular"></span>
                        <span class="form-creator__fields-area__bottom__step__number">2.</span>
                        <span class="form-creator__fields-area__bottom__step__description">Rellena el formulario</span>
                    </div>
                    <div class="form-creator__fields-area__bottom__step">
                        <span class="icon icon-print-solid"></span>
                        <span class="form-creator__fields-area__bottom__step__number">3.</span>
                        <span class="form-creator__fields-area__bottom__step__description">Guárdalo e imprímelo</span>
                    </div>
                </div>
                <!-- END OF START -->
                <div class="form-creator__fields-area__bottom" *ngIf="this.currentStep !== 0">
                    <div class="form-creator__fields-area__bottom__container">
                        <div class="form-creator__fields-area__bottom__arrow-button" 
                            *ngIf="this.form.fields.length >= 2 && currentStep !== 0"(click)="setCurrentStep(currentStep - 1)">
                            <span class="icon icon-chevron-left-solid"></span>
                            <span class="form-creator__fields-area__bottom__arrow-button__label">Anterior</span>
                        </div>
                        <div class="form-creator__fields-area__bottom__arrow-button" (click)="setCurrentStep(currentStep + 1)" 
                            *ngIf="this.form.fields.length >= 2 && currentStep !== this.form.fields.length">
                            <span class="form-creator__fields-area__bottom__arrow-button__label">Siguiente</span>
                            <span class="icon icon-chevron-right-solid"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-creator__text-area form-creator__text-area--quill-text" id="text-area">
            <!-- Create the editor container -->
            <div class="form-creator__text-area__quill-text-result"  id="editor" #formBasedDocDiv
            *ngIf="this.form.documentType === 'plain'">
                {{generatedText}}
            </div>
        </div>
    </div>
</div>
<div id="comments" style="display: none">
    <div class="comments">
        <app-comments class="comments__container" [form]="originalForm"
        *ngIf="originalForm.title !== ''"></app-comments>
    </div>
</div>

<div class="modal" #modal>
    <div class="modal__content modal__content--payment">
        <p>{{form.indications}}</p>
        <button (click)="toogleModal(modal); setCurrentStep(currentStep + 1);">entendido</button>
    </div>
</div>