<div class="sub-menu">
    <div class="sub-menu__container">
        <ul class="sub-menu__nav sub-menu__nav--my-forms" style="justify-content: center;">
            <li class="sub-menu__nav__button sub-menu__nav__button--without-hover">
                {{user.username}}
            </li>
        </ul>
    </div>
</div>

<div class="settings">
    <app-list-errors [errors]="errors"></app-list-errors>
    <form class="settings__container" [formGroup]="settingsForm" (ngSubmit)="submitForm()">
        <div class="settings__profile-image">
            <div class="settings__profile-image__container">
                <div class="settings__profile__image__img">
                    <img src="{{user.image}}" alt="profile image" #imageSrc>
                </div>
                <fieldset class="settings__profile__image__input">
                    <label class="input-file">
                        Cambiar imagen de perfil
                        <input type="file" name="profile-image" (change)="onFileChange($event)">
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="settings__form">
            <div class="settings__form__container">
                <fieldset class="settings__form__group">
                    <input type="text" placeholder="Nombre de usuario" formControlName="username">
                    <input type="text" placeholder="Nombre y apellidos" formControlName="nameAndSurname">
                    <input type="text" placeholder="Corren electrónico" formControlName="email">
                </fieldset>
                <fieldset class="settings__form__group">
                    <textarea name="description" cols="30" rows="10"
                    placeholder="Description" formControlName="description"></textarea>
                    <input type="date" placeholder="Fecha de nacimiento" formControlName="dateOfBirth">
                    <input type="text" placeholder="Empresa" formControlName="companyName">
                    <input type="text" placeholder="Contacto" formControlName="contactInformation">
                </fieldset>
                <div class="settings__form__button-container">
                    <button type="submit" class="button-filled icon icon-save-solid"></button>
                </div>
            </div>
        </div>
        <hr>
        <div class="settings__buttons">
            <div class="settings__buttons__container">
                <button class="button-filled trigger" type="button">
                    Cambiar contraseña
                </button>
                <button class="button-filled" type="button">
                    Cerrar sesión
                </button>
                <button class="button-filled" type="button">
                    Eliminar cuenta
                </button>
            </div>
        </div>
    </form>
</div>

<!-- <section id="settings">
    <div class="settings-container">
        
        <app-list-errors [errors]="errors"></app-list-errors>
        
        <form [formGroup]="settingsForm" class="form settings-form" (ngSubmit)="submitForm()">
            
            <fieldset [disabled]="isSubmitting">
                
                <fieldset class="img-settings-container">
                    <img src="{{user.image}}" alt="avatar">
                    <input type="file" (change)="onFileChange($event)" />
                </fieldset>
                
                <fieldset class="form-group-settings">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" 
                        placeholder="Username" formControlName="username">
                </fieldset>
                
                <fieldset class="form-group-settings">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" 
                    placeholder="Email" formControlName="email">
                </fieldset>
                
                <fieldset class="form-group-settings">
                    <label for="description"></label>
                    <textarea cols="70" rows="5" id="description" 
                    placeholder="Description" formControlName="description"></textarea>
                </fieldset>
                
                <fieldset class="form-group-settings">
                    <label for="contact"></label>
                    <input type="text" name="contact" id="contact" 
                    placeholder="Contact information" formControlName="contactInformation">
                </fieldset>
                
                <div class="submit-area">
                    <input type="submit" value="Update">
                </div>
            </fieldset>
      </form>

      <div class="settings-bottom-area">
          <button (click)="toggleModal()">Cambiar contraseña</button>
          <button (click)="logout()">Cerrar sesión</button>
      </div>


  </div>
</section> -->

<!-- Modal -->
<div class="modal" #modal>
    <div class="modal-content">
        <div class="modal-top modal-top-change-pass">
            <h5>Cambiar contraseña</h5>
        </div>
        <div class="modal-middle modal-middle-change-pass">
            <input type="password" placeholder="Contraseña actual" #oldPass>
            <input type="password" placeholder="Contraseña nueva" #newPass>
        </div>
        <div class="modal-bottom">
            <button class="button" 
                (click)="changePassword(this.oldPass.value, newPass.value)"
                >Guardar</button>

            <button class="button cancel" 
                (click)="toggleModal()"
                >Cancelar</button>

        </div>
    </div>
</div>