<div class="profile">
    <div class="profile__container">
        <div class="profile__image">
            <img src="assets/images/silvia-avatar.jpeg" alt="avatar">
        </div>
        <div class="profile__info">
            <span class="profile__info__name">Silvia Camejo Alarcón</span>
            <span class="profile__info__description">
                
            </span>
            <span class="description">
                Abogada licenciada en Derecho por la ULL, desde 2014 dirige su propio despacho de abogados multidisciplinar.
            </span>
            <span class="profile__info__contact">
                <br>
                <a href="https://abogadohipoteca.com/" rel="noopener noreferrer">
                   Sitio web: <strong>https://abogadohipoteca.com</strong></a>
            </span>
            <!-- <span class="profile__info__company-name" >
                CAMEJO ALARCÓN ABOGADOS
            </span> -->
        </div>
    </div>
</div>

<div class="search__container">
    <div class="search__button">
        <!-- <input type="text" (keyup.enter)="search(input.value)" #input> -->
    </div>
    <div class="search__orderby">
        <div class="search__orderby__container">
            <!-- <label for="orderby">Order by: </label>
            <select id="orderby" autofocus="true" (change)="setOrder($event.target.value)">
                <option value="Date">Date</option>
                <option value="Like">Likes</option>
            </select> -->
        </div>
    </div>
    <div class="search__results">
        <div class="search__results__container">

            <div class="search__results__result" >
                <div class="search__results__result__document" [routerLink]="['/certified-forms/contrato-compraventa-vehiculo']">
                    <div class="search__results__result__document__container">
                        <div class="search__results__result__document__container__date">
                            <span>10 Febrero 2020</span>
                        </div>
                        <div class="search__results__result__document__container__title">
                            <span>Contrato de compraventa de vehículo usado entre particulares</span>
                        </div>
                        <div class="search__results__result__document__container__likes-views">
                            <div class="search__results__result__document__container__likes-views__likes">

                            </div>
                            <div class="search__results__result__document__container__likes-views__views">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="search__results__result__more-info">
                </div>
            </div>
            <div class="search__results__result" >
                <div class="search__results__result__document" [routerLink]="['/certified-forms/contrato-arrendamiento-habitacion']">
                    <div class="search__results__result__document__container">
                        <div class="search__results__result__document__container__date">
                            <span>01 Febrero 2020</span>
                        </div>
                        <div class="search__results__result__document__container__title">
                            <span>Contrato de arrendamiento de habitación</span>
                        </div>
                        <div class="search__results__result__document__container__likes-views">
                            <div class="search__results__result__document__container__likes-views__likes">

                            </div>
                            <div class="search__results__result__document__container__likes-views__views">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="search__results__result__more-info">
                </div>
            </div>
            <div class="search__results__result" >
                <div class="search__results__result__document" [routerLink]="['/static/modelos/requerimiento-pago']">
                    <div class="search__results__result__document__container">
                        <div class="search__results__result__document__container__date">
                            <span>15 Marzo 2020</span>
                        </div>
                        <div class="search__results__result__document__container__title">
                            <span>Requerimiento de pago</span>
                        </div>
                        <div class="search__results__result__document__container__likes-views">
                            <div class="search__results__result__document__container__likes-views__likes">

                            </div>
                            <div class="search__results__result__document__container__likes-views__views">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="search__results__result__more-info">
                </div>
            </div>
            <div class="search__results__result" >
                <div class="search__results__result__document" [routerLink]="['/static/modelos/contrato-compraventa-inmueble']">
                    <div class="search__results__result__document__container">
                        <div class="search__results__result__document__container__date">
                            <span>05 Agosto 2020</span>
                        </div>
                        <div class="search__results__result__document__container__title">
                            <span>Contrato de compraventa de bien inmueble</span>
                        </div>
                        <div class="search__results__result__document__container__likes-views">
                            <div class="search__results__result__document__container__likes-views__likes">

                            </div>
                            <div class="search__results__result__document__container__likes-views__views">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="search__results__result__more-info">
                </div>
            </div>
            <div class="search__results__result" >
                <div class="search__results__result__document" [routerLink]="['/static/modelos/contrato-arrendamiento-plaza-garaje']">
                    <div class="search__results__result__document__container">
                        <div class="search__results__result__document__container__date">
                            <span>10 Octubre 2020</span>
                        </div>
                        <div class="search__results__result__document__container__title">
                            <span>Contrato de alquiler de plaza de garaje</span>
                        </div>
                        <div class="search__results__result__document__container__likes-views">
                            <div class="search__results__result__document__container__likes-views__likes">

                            </div>
                            <div class="search__results__result__document__container__likes-views__views">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="search__results__result__more-info">
                </div>
            </div>
            <div class="search__results__result" >
                <div class="search__results__result__document" [routerLink]="['/static/modelos/estatutos-sociedad-limitada']">
                    <div class="search__results__result__document__container">
                        <div class="search__results__result__document__container__date">
                            <span>20 Octubre 2020</span>
                        </div>
                        <div class="search__results__result__document__container__title">
                            <span>Estatutos de una Sociedad Limitada</span>
                        </div>
                        <div class="search__results__result__document__container__likes-views">
                            <div class="search__results__result__document__container__likes-views__likes">

                            </div>
                            <div class="search__results__result__document__container__likes-views__views">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="search__results__result__more-info">
                </div>
            </div>

        </div>
    </div>
</div>