<div class="comments__comment">
    <div class="comments__comment__top">
        <div class="comments__comment__top__author">
            <img src="{{
                !comment.author.image ? 'assets/images/avatar.jpeg' : comment.author.image
            }}" alt="avatar">
            <h4 [routerLink]="['/profile', comment.author.username]">{{comment.author.username}}</h4>
        </div>
        <span class="comments__comment__top__date">{{comment.updatedAt | date: 'dd/MM/yyyy'}}</span>
    </div>
    <div class="comments__comment__middle" [ngClass]="{'comment-d-none': isEditing}">
        <p #commentBodyLong>
            {{ comment.body }}
        </p>
        <p #commentBodyShort>
            {{ comment.body.substring(0, maxLenght) }}
        </p>
        <span *ngIf="showMore === false && comment.body.length > maxLenght" (click)="commentBody(true)">Leer más</span>
        <span *ngIf="showMore === true" (click)="commentBody(false)">Leer menos</span>
    </div>
    <div class="comments__comment__middle comment-middle-edit" [ngClass]="{'comment-d-none': !isEditing}">
        <textarea cols="50" rows="5" [value]="comment.body" #editTextArea></textarea>
        <input type="submit" class="update-comment" value="Actualizar" (click)="updateComment(editTextArea.value)">
        <br>
        <button class="button" (click)="isEditing = false">Cancelar</button>
    </div>
    <div class="comments__comment__bottom" [ngClass]="{'comment-d-none': isEditing}">
        <div class="comments__comment__bottom__likes">
            <span class="icon icon-thumbs-up-regular" *ngIf="!isAuth"></span>
            <span class="icon icon-thumbs-up-regular comment-not-liked" (click)="likeComment()" *ngIf="!comment.liked && isAuth"></span>
            <span class="icon icon-thumbs-up comment-liked" *ngIf="comment.liked && isAuth" (click)="dislikeComment()"></span>

            <span> &emsp; {{ comment.likesCount }}</span>
        </div>
        <span *appShowAuthed="true">
            <button class="comments__comment__bottom__button" *ngIf="!canModify" 
            (click)="showResponses(!responsesAreShowing)" [disabled]="responsesAreShowing">Responder</button>
        </span>

        <button class="comments__comment__bottom__button edit" (click)="isEditing = true" *ngIf="canModify">Editar</button>
        <button class="comments__comment__bottom__button edit" (click)="deleteClicked()" *ngIf="canModify">Eliminar</button>
        <span class="comments__comment__bottom__responses-bottom" (click)="showResponses(!responsesAreShowing)">
            Respuestas ({{comment.responses.length}})  
            <!-- Arrow down -->
            <span *ngIf="!responsesAreShowing">&#9662;</span>
            <!-- Arrow up -->
            <span *ngIf="responsesAreShowing">&#9652;</span>
        </span>
    </div>
    <div class="comments__comment__comment-responses" *ngIf="responsesAreShowing">
        <div class="comments__comment__comment-responses__line"></div>
        <div class="comments__comment__comment-responses__container">
            <app-comment-response class="comments__comment comments__comment--response" 
            *ngFor="let commentResponse of comment.responses" [slug]="slug" 
            (deleteComment)="onDeleteComment(commentResponse)" [comment]="commentResponse"></app-comment-response>
            <div class="comments__new-comment" *ngIf="!canModify">
                <textarea cols="50" rows="5" #commentTextArea></textarea>
                <input type="submit" value="Responder" (click)="addCommentResponse(commentTextArea.value)">
            </div>
        </div>
    </div>
</div>