<div class="new-modal-content" #indicationsDiv>
    <div class="new-modal-content__header">
        <div class="new-modal-content__header__tabs">
            <button class="new-modal-content__header__tabs__tab new-modal-content__header__tabs__tab--active" 
            (click)="openTab(tab1, this.button1); changeIndicationsType('outsideText');" #button1>
                Fuera del texto
            </button>
            <button class="new-modal-content__header__tabs__tab" 
            (click)="openTab(tab2, this.button2); changeIndicationsType('insideText');" #button2>
                Dentro del texto
            </button>
        </div>
    </div>
    <div class="new-modal-content__body">    
        <div class="editor-container-modal-new-question" style="height: 75%;" #tab1>
            <!-- Create the editor container -->
            <quill-editor (onContentChanged)="quillText = $event.html; changeIndicationsValue($event.html)" 
                [ngModel]="quillText" [modules]="{
                    toolbar: [
                    ['bold', 'italic', 'underline', 'strike'], 
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'size': ['small', false, 'large', 'huge'] }],
                    [{ 'direction': 'rtl' }],
                    ['link']]}"
                #quill>
            </quill-editor>
            
        </div>
        
        <div style="display:none; height: 85%;" #tab2>
            <textarea name="" id="" rows="10" placeholder="Indicaciones..." #normalText (keyup)="changeIndicationsValue(normalText.value)"></textarea>
        </div>
    </div>
    <input type="text" [value]="this.indications.value" hidden>         
    <div class="new-modal-content__footer new-modal-content__footer--indicactions">
        <button class="btn next-btn" (click)="closeModal.emit();">Hecho</button>
        <button class="btn next-btn next-btn--delete" (click)="changeIndicationsValue(''); closeModal.emit();">Eliminar</button>
    </div>
</div>