<h1 class="info-lightbox__title">Input Radio B</h1>
<div class="info-lightbox__description">
    <div class="info-lightbox__description__content">
        <p>Un Input Radio representa una opción que pertenece a un grupo en el que no más de una opción 
            puede ser seleccionada al mismo tiempo. En el caso del Input Radio B cuando el usuario seleccione
            una opción, la palabra clave identificadora introducida en el texto será sustituida por un texto determinado
            por el autor del formulario solo para la opción elegida.
        </p>
    </div>
</div>
<div class="info-lightbox__instructions">
    <div class="info-lightbox__instructions__content">
        <div class="info-lightbox__instructions__title">
            <h2>Cómo usar</h2>
        </div>
        <div class="info-lightbox__instructions__steps">
            <div class="info-lightbox__instructions__subtitle">
                <h3>
                    I. 
                    <u>Colocar identificador</u>
                </h3>
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>1. El identificador se encuentra en la esquina superior derecha.
                        Puede situarlo en el texto de dos maneras.
                    </p>
                </div>
                <img src="assets/images/guide-images/image-guide-13.png" alt="Image guide 13">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>2. Arrastrándolo o escribiéndolo directamente en el texto</p>
                </div>
                <img src="assets/images/guide-images/image-guide-2.png" alt="Image guide 2">
            </div>
        </div>
        <div class="info-lightbox__instructions__steps">
            <div class="info-lightbox__instructions__subtitle">
                <h3>
                    II. 
                    <u>Escribir enunciado de la pregunta</u>
                </h3>
            </div>
            <div class="info-lightbox__instructions__steps__step info-lightbox__instructions__steps__step--reverse">
                <img src="assets/images/guide-images/image-guide-14.png" alt="Image guide 14">
                <div class="info-lightbox__instructions__steps__step__text info-lightbox__instructions__steps__step__text--reverse">
                    <p>1. En el centro encontrará un input donde introducir el enunciado de la pregunta.
                    </p>
                </div>
            </div>
        </div>
        <div class="info-lightbox__instructions__steps">
            <div class="info-lightbox__instructions__subtitle">
                <h3>
                    III. 
                    <u>Añadir botón</u>
                </h3>
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>1. Para añadir un botón radio, haga click en el botón del centro con el icono con el signo +.
                    </p>
                </div>
                <img src="assets/images/guide-images/image-guide-15.png" alt="Image guide 15">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>2. Introduzca el enunciado del botón.</p>
                </div>
                <img src="assets/images/guide-images/image-guide-18.png" alt="Image guide 18">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>3. Introduzca el valor del botón, es decir el texto 
                        que sustituirá a la palabra clave cuando se seleccione el botón. Para ello,
                    haga click en el icono que se sitúa a la derecha del botón radio, justo antes del botón de eliminar</p>
                </div>
                <img src="assets/images/guide-images/image-guide-19.png" alt="Image guide 19">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>4. Aparecerá un pequeño pop-up con un campo donde introducir el valor</p>
                </div>
                <img src="assets/images/guide-images/image-guide-20.png" alt="Image guide 20">
            </div>
        </div>
        <div class="info-lightbox__instructions__steps">
            <div class="info-lightbox__instructions__subtitle">
                <h3>
                    IV. 
                    <u>Previsualizar</u>
                </h3>
            </div>
            <div class="info-lightbox__instructions__steps__step info-lightbox__instructions__steps__step--reverse">
                <img src="assets/images/guide-images/image-guide-4.png" alt="Image guide 4">
                <div class="info-lightbox__instructions__steps__step__text info-lightbox__instructions__steps__step__text--reverse">
                    <p>1. Una vez realizado el paso previo podremos previsualizar el resultado.
                        Para ello tendrá que hacer click en el botón de Preview en la parte superior
                        derecha de la pantalla.
                    </p>
                </div>
            </div>
            <div class="info-lightbox__instructions__steps__step info-lightbox__instructions__steps__step--reverse">
                <img src="assets/images/guide-images/image-guide-21.png" alt="Image guide 21">
                <div class="info-lightbox__instructions__steps__step__text info-lightbox__instructions__steps__step__text--reverse">
                    <p>2. Compruebe que la palabra identificadora en el texto es sustituida
                        por el texto de la opción seleccionada por el usuario.</p>
                </div>
            </div>
        </div>
        <div class="info-lightbox__instructions__steps">
            <div class="info-lightbox__instructions__subtitle">
                <h3>
                    V. 
                    <u>Indicaciones</u>
                </h3>
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>1. En caso de que desee dar indicaciones al usuario sobre como 
                        rellenar la pregunta, puede hacerlo seleccionando del menú desplegable que se encuentra
                        en la parte derecha inferior del campo.
                    </p>
                </div>
                <img src="assets/images/guide-images/image-guide-7.png" alt="Image guide 7">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>2. Aparecerá un pequeño menú con la posibilidad de seleccionar dos opciones: indicaciones 
                        fuera del texto e indicaciones dentro del texto.</p>
                </div>
                <img src="assets/images/guide-images/image-guide-8.png" alt="Image guide 8">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>3. Las indicaciones fuera del texto son aquellas que aparecen en un pequeño pop-up por encima del 
                        campo con el input.</p>
                </div>
                <img src="assets/images/guide-images/image-guide-9.png" alt="Image guide 9">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>4. Las indicaciones dentro del texto son aquellas que aparecen justo por encima de donde haya situado
                        la palabra identificadora en el texto.</p>
                </div>
                <img src="assets/images/guide-images/image-guide-10.png" alt="Image guide 10">
            </div>
            <div class="info-lightbox__instructions__steps__step">
                <div class="info-lightbox__instructions__steps__step__text">
                    <p>5. Una vez haya finalizado escribiendo las indicaciones haga click en el botón Hecho. 
                        Para poder previsualizar las indicaciones haga click en el botón de Preview como en el apartado III y
                        pulse el botón con el icono de una interrogación en la parte superior derecha del campo.</p>
                </div>
                <img src="assets/images/guide-images/image-guide-11.png" alt="Image guide 11">
            </div>
        </div>
        <div class="info-lightbox__instructions__steps">
            <div class="info-lightbox__instructions__subtitle">
                <h3>
                    VI. 
                    <u>Eliminar</u>
                </h3>
            </div>
            <div class="info-lightbox__instructions__steps__step info-lightbox__instructions__steps__step--reverse">
                <img src="assets/images/guide-images/image-guide-12.png" alt="Image guide 12">
                <div class="info-lightbox__instructions__steps__step__text info-lightbox__instructions__steps__step__text--reverse">
                    <p>1. Para eliminar el campo, simplemente haga click en el icono con la papelera.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>