<div class="sub-menu" #subMenu>
    <div class="sub-menu__container">
        <ul class="sub-menu__nav sub-menu__nav--my-forms" (click)="topMenuNav($event)">
            <li class="sub-menu__nav__button sub-menu__nav__button--my-forms sub-menu__nav__button--current" data-toogle="created-forms">
                Creados
            </li>
            <li class="sub-menu__nav__button sub-menu__nav__button--my-forms" data-toogle="filled-forms">
                Rellenados
            </li>
        </ul>
    </div>
</div>
<div id="created-forms">
    <table class="table">
        <thead>
            <tr>
                <th>Formulario</th>
                <th>Status</th>
                <th>Visibilidad</th>
                <th>Comentarios</th>
                <th>Likes</th>
                <th>Visualizaciones</th>
                <th>Actualizado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let form of results">
                <td data-column="Formulario">
                    <a  class="form-link" [routerLink]="['/create-form/edit', form.slug]">{{ form.title }}</a>
                </td>
                <td data-column="Status">
                    <label class="select-my-forms" for="{{ form.slug + 'status' }}">
                        <input type="checkbox" class="filled-in" name="{{ form.slug + 'status' }}" id="{{ form.slug + 'status' }}" value="status" 
                            [checked]="form.enabled" (change)="updateForm($event, form)" />
                        <span>Activo</span>
                    </label>
                </td>
                <td data-column="Visibilidad">
                    <label class="select-my-forms" for="{{ form.slug + 'visible' }}">
                        <input type="checkbox" class="filled-in" name="{{ form.slug + 'visible' }}" id="{{ form.slug + 'visible' }}" value="public" 
                        [checked]="form.public" (change)="updateForm($event, form)"/>
                        <span>Público</span>
                    </label>   
                </td>
                <td data-column="Comentarios">
                    <label class="select-my-forms" for="{{ form.slug + 'commnents' }}">
                        <input type="checkbox" class="filled-in" name="{{ form.slug + 'commnents' }}" id="{{ form.slug + 'commnents' }}" value="commentsEnabled" 
                        [checked]="form.commentsEnabled" (change)="updateForm($event, form)"/>
                        <span>Comentarios</span>
                    </label>   
                </td>

                <td data-column="Likes">{{ form.likesCount }}</td>
                <td data-column="Visualizaciones">{{ form.viewsCount }}</td>
                <td data-column="Actualizado">{{form.updatedAt | date: 'dd/MM/yyyy'}}</td>
                <td data-column="Eliminar" (click)="deleteForm(form)"><span class="icon icon-trash-alt-regular delete"></span></td>
            </tr>
        </tbody>
    </table>
    <app-loading-spinner class="loader" [style.display]="loadingQuery ? 'flex' : 'none'"></app-loading-spinner>
    <span class="load-more-my-forms w-100 d-flex-and-center" *ngIf="noMoreForms === false">
        <button class="button-filled" (click)="moreForms()">Cargar más</button>
    </span>
    <div class="noMoreForms" *ngIf="noMoreForms === true">
        <h2>- No more forms to load -</h2>
    </div>
</div>
<div id="filled-forms" style="display: none">
    <table class="table table--filled-forms">
        <thead>
            <tr>
                <th>Formulario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let form of resultsFilled">
                <td data-column="Formulario">
                    <a class="form-link" [routerLink]="['/fill-form/edit', form.slug]">
                        {{form.title}}
                    </a>
                </td>
                <td data-column="Eliminar" (click)="deleteFilled(form)"><span class="icon icon-trash-alt-regular delete"></span></td>
            </tr>
        </tbody>
    </table>
    <app-loading-spinner class="loader" [style.display]="loadingQuery ? 'flex' : 'none'"></app-loading-spinner>

    <div class="noMoreForms" *ngIf="noMoreFormsFilled === true">
        <h2>- No more forms to load -</h2>
    </div>
    <span class="load-more-my-forms w-100 d-flex-and-center" *ngIf="noMoreFormsFilled === false">
        <button class="button-filled" (click)="moreFormsFilled()">Cargar más</button>
    </span>
</div>

