<div class="form-creator__fields-area__middle__container fade-in">
  <div class="form-creator__fields-area__field">
      <div class="form-creator__fields-area__field__container">
          <div class="form-creator__fields-area__field__field-area form-creator__fields-area__field__field-area--input-text">
              <div class="form-creator__fields-area__field__top form-creator__fields-area__field__top--fill-form">
                  <div class="indication">
                      <span class="icon icon-info-circle-solid trigger" (click)="showIndication()"></span>
                  </div>
              </div>
              <div class="form-creator__fields-area__field__middle">
                <span class="form-creator__fields-area__field__middle__question">{{step.question}}</span>
                <div class="slider-range-container">
                  <input type="range" min="{{step.min}}" max="{{step.max}}"  class="range-slider"
                  #input [value]="step.value" 
                  (change)="this.stepModelService.buildForEach(input.value, step.wordToReplace)">
                  <p>
                    <span>{{input.value}}</span>
                  </p>
                </div>
              </div>
              <div class="form-creator__fields-area__field__bottom">
                  <span class="form-creator__fields-area__field__bottom__mandatory-label"  *ngIf="step.mandatory">
                      Obligatorio *
                  </span>
              </div>
          </div>
      </div>
  </div>
</div>