<div class="form-creator__fields-area__field" #delete>
    <div class="form-creator__fields-area__field__container">
        <div class="form-creator__fields-area__field__field-area form-creator__fields-area__field__field-area--input-text">
            <!-- CREATE FORM -->
            <div class="form-creator__fields-area__field__top d-flex" *ngIf="state === 'create-form'">
                <div class="form-creator__fields-area__field__top__identifier">
                    <span class="form-creator__fields-area__field__top__identifier__label">
                        Id:
                    </span>
                    <span class="form-creator__fields-area__field__top__identifier__id">
                        <span (dblclick)="showChangeIdInputField()" #draggableText>{{referenceNumber}}</span>
                        <input (blur)="showChangeIdInputField()" (keyup.enter)="changeIdInput.blur()" 
                        (keyup)="changeId($event)" type="text" value="{{referenceNumber}}" #changeIdInput style="display: none">
                    </span>
                </div>
            </div>
            <!---------------->
            <!-- FILL FORM -->
            <div class="form-creator__fields-area__field__top form-creator__fields-area__field__top--fill-form" *ngIf="state === 'fill-form'">
                <div class="indication" *ngIf="indications !== '' && indications !== undefined">
                    <span class="icon icon-info-circle-solid trigger" (click)="showIndication($event)"></span>
                </div>
            </div>
            <!---------------->
            <div class="form-creator__fields-area__field__middle">
                <input type="text" placeholder="Question" id="question" placeholder="Question" (keyup)="onQuestionChanged(questionValue.value)" 
                [(ngModel)]="question" #questionValue *ngIf="state === 'create-form'">
                <span class="form-creator__fields-area__field__middle__question" 
                *ngIf="state === 'fill-form'">{{question}}</span>

                <input type="text" (keyup)="input(answer.value)" #answer *ngIf="state === 'fill-form'">
            </div>
            <div class="form-creator__fields-area__field__bottom">
                <div class="form-creator__fields-area__field__bottom__trash divWhereIsDeleteButton" #divWhereIsDeleteButton>
                    <div class="remove-button d-block smooth-intro" (click)="deleteDiv()" *ngIf="!isNewForm">
                        <span class="icon icon-trash-alt-regular"></span>
                    </div>
                </div>
                <div class="form-creator__fields-area__field__bottom__mandatory d-flex" *ngIf="state === 'create-form'">
                    <span class="form-creator__fields-area__field__bottom__mandatory__switch-label">Obligatorio</span>
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="mandatory">
                        <span class="slider slider--round"></span>
                    </label>
                </div>
                <span class="form-creator__fields-area__field__bottom__mandatory-label" *ngIf="state === 'fill-form' && mandatory">
                    Obligatorio *
                </span>
                <div class="form-creator__fields-area__field__bottom__menu d-block" *ngIf="state === 'create-form'">     
                    <div class="tooltip">
                        <span class="icon icon-ellipsis-v-solid" id="right-button-menu" #rightMenuButton (click)="showRightMenu()"></span>
                        <span class="tooltip__right-button-menu" #rightMenu>
                            <div class="tooltip__right-button-menu__group">
                                <span #showModalButton (click)="toogleModal(modal)">Indicactions for this field</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" #modal>
    <div class="modal__content modal__content--add-new-question">
        <app-indications 
        (closeModal)="toogleModal(modal)"
        [indications]='this.indications'
        (sendIndications)="onIndicationsChanged($event)"
        ></app-indications>
    </div>
</div>
    
<div class="modal" #modalIndication>
    <div class="modal__content modal__content--question-indication">
        <div class="modal__content__top modal__content__top--privacy">
            <h2>{{question}}</h2>
        </div>
        <div class="modal__content__modal-middle modal__content__modal-middle--question-indication">
            <div class="modal__content__modal-middle__container" [innerHTML]="this.indications.value">
            </div>
        </div>
        <div class="new-modal-content__footer new-modal-content__footer--indicactions">
            <button class="btn next-btn" (click)="toogleModal(modalIndication);">Entendido</button>
        </div>
    </div>
</div>