<div class="sub-menu" #subMenu>
    <div class="sub-menu__container sub-menu__container--search-page">
        <ul class="sub-menu__nav sub-menu__nav--search-page" (click)="topMenuNav($event)">
            <li class="sub-menu__nav__button sub-menu__nav__button--search-page sub-menu__nav__button--current" data-toogle="lawyer-forms" (click)="setUrl(false)">
                Creados por abogados
            </li>
            <li class="sub-menu__nav__button sub-menu__nav__button--search-page" data-toogle="user-forms" (click)="setUrl(true)" #userFormsTab>
                Creados por usuarios
            </li>
        </ul>
    </div>
</div>

<div id="lawyer-forms" class="lawyer-forms sub-menu-target">
    <div class="lawyer-forms__container">
        <div class="lawyer-forms__header">
            <div class="lawyer-forms__top-right-link">
                <span>
                    <a routerLink="/search/search-transaction">
                        Buscar transacción
                    </a>
                    <span class="icon icon-search"></span>
                </span>
                <span>
                    <a routerLink="/create-form" *appShowAuthed="true">
                        Crear mi propio formulario
                    </a>
                    <a routerLink="/auth/login" *appShowAuthed="false">
                        Crear mi propio formulario
                    </a>
                    <span class="icon icon-link-solid"></span>
                </span>
            </div>
            <div class="lawyer-forms__title">
                <h1>Documentos creados por nuestros abogados</h1>
                <p>Mientras rellena un formulario podrá ver, en tiempo real, como un documento redactado por abogados es generado para su posterior descarga.</p>
            </div>
        </div>
        <div class="lawyer-forms__blocks-container">
        <div class="lawyer-forms__block">
            <div class="lawyer-forms__block__title">
                <span class="icon icon-building-solid"></span>
                <h2>Empresa</h2>
            </div>
            <div class="tree-container">
                <ul class="tree">
                    <li>
                        <a [routerLink]="['/static/modelos/', 'estatutos-asociacion']">
                            Estatutos de una asociación
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/static/modelos/', 'acta-constitucion-asociacion']">
                            Acta fundacional de asociación
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/static/modelos/', 'estatutos-sociedad-limitada']">
                            Estatutos de una Sociedad Limitada
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/static/modelos/', 'estatutos-sociedad-limitada-profesional']">
                            Estatutos de una Sociedad Limitada Profesional
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/static/modelos/', 'estatutos-ute']">
                            Estatutos de una Unión Temporal De Empresas
                        </a>
                    </li>
                    <li class="last">
                        <a [routerLink]="['/static/modelos/', 'estatutos-sociedad-limitada-unipersonal']">
                            Estatutos de una Sociedad Limitada Unipersonal
                        </a>
                    </li>
                </ul>
            </div>
        </div>
            <div class="lawyer-forms__block">
                <div class="lawyer-forms__block__title">
                    <span class="icon icon-briefcase-solid"></span>
                    <h2>Laboral</h2>
                </div>
                <div class="tree-container">
                    <ul class="tree">
                        <li>
                            <a [routerLink]="['/static/modelos/', 'contrato-trabajo']">
                                Contrato de trabajo
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/static/modelos/', 'contrato-trabajo-fijo-discontinuo']">
                                Contrato de trabajo fijo discontinuo
                            </a>
                        </li>
                        <!-- <li class="last">
                            <a [routerLink]="['/static/modelos/', 'precontrato-trabajo']">
                                Precontrato de trabajo
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="lawyer-forms__block">
                <div class="lawyer-forms__block__title">
                    <span class="icon icon-home-solid"></span>
                    <h2>Vivienda</h2>
                </div>
                <div class="tree-container">
                    <ul class="tree">
                        <li>
                            <a [routerLink]="['/static/modelos/', 'contrato-arrendamiento-habitacion']">Contrato de arrendamiento de habitación</a>
                        </li>
                        <li>
                            <a [routerLink]="['/static/modelos/', 'contrato-arrendamiento-vivienda']">Contrato de arrendamiento de vivienda</a>
                        </li>
                        <li>
                            <a [routerLink]="['/static/modelos/', 'contrato-arrendamiento-vivienda-vacacional']">Contrato de arrendamiento de vivienda de uso vacacional</a>
                        </li>
                        <li class="last">
                            <a [routerLink]="['/static/modelos/', 'contrato-arrendamiento-plaza-garaje']">Alquiler de plaza de garaje</a>
                        </li>
                        <!-- <li class="last">
                            <a [routerLink]="['/static/modelos/', 'subarrendamiento']">Subarrendamiento</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="lawyer-forms__block">
                <div class="lawyer-forms__block__title">
                    <span class="icon icon-store-alt-solid"></span>
                    <h2>Compraventa</h2>
                </div>
                <!-- Tree copied from https://gist.github.com/dylancwood/7368914 -->
                <div class="tree-container">
                    <ul class="tree">
                        <li>
                            <a [routerLink]="['/static/modelos/', 'contrato-compraventa-inmueble']">Contrato compraventa de bien inmueble</a>
                        </li>
                        <li class="last">
                            <a [routerLink]="['/static/modelos/', 'contrato-compraventa-vehiculo']">
                                Contrato de compraventa de vehículo
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="lawyer-forms__block">
                <div class="lawyer-forms__block__title">
                    <span class="icon icon-envelope-open-text"></span>
                    <h2>Cartas y notificaciones</h2>
                </div>
                <div class="tree-container">
                    <ul class="tree">
                        <li>
                            <a [routerLink]="['/static/modelos/', 'requerimiento-pago']">Requerimiento de pago</a>
                        </li>
                        <li>
                            <a [routerLink]="['/static/modelos/', 'requerimiento-pago-alquiler']">Requerimiento de pago de alquiler</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="lawyer-forms__block">
                <div class="lawyer-forms__block__title">
                    <span class="icon icon-window-maximize-regular"></span>
                    <h2>Internet</h2>
                </div>
                <div class="tree-container">
                    <ul class="tree">
                        <li>
                            <a href="#">Condiciones de uso de Aplicación Móvil</a>
                        </li>
                        <li>
                            <a href="#">Política de cookies</a>
                        </li>
                        <li>
                            <a href="#">Condiciones de uso de Tienda Online</a>
                        </li>
                        <li class="last">
                            <a href="#">Condiciones de uso de Página Web</a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div id="user-forms" class="search" style="display: none">
    <div class="search__container">
        <div class="search__button">
            <input type="text" (keyup.enter)="search(input.value)" #input>
        </div>
        <div class="search__orderby">
            <div class="search__orderby__container">
                <label for="orderby">Ordenar por: </label>
                <select id="orderby" autofocus="true" (change)="setOrder($event.target.value)">
                    <option value="Date">Fecha</option>
                    <option value="Likes">Likes</option>
                </select>
            </div>
        </div>
        <div class="search__results">
            <div class="search__results__container">

                <div class="search__results__result" *ngFor="let form of results">
                    <div class="search__results__result__document" [routerLink]="['/fill-form', form.slug]">
                        <div class="search__results__result__document__container">
                            <div class="search__results__result__document__container__date">
                                <span>{{form.updatedAt | date: 'dd/MM/yyyy'}}</span>
                            </div>
                            <div class="search__results__result__document__container__title">
                                <span>{{ form.title }}</span>
                            </div>
                            <div class="search__results__result__document__container__description">
                                <span>{{ form.description.substring(0, 136) }}</span>
                            </div>
                            <div class="search__results__result__document__container__likes-views">
                                <div class="search__results__result__document__container__likes-views__likes">
                                    <span class="icon icon-thumbs-up"></span>
                                    <span>{{ form.likesCount }}</span>
                                </div>
                                <div class="search__results__result__document__container__likes-views__views">
                                    <span class="icon icon-eye-solid"></span>
                                    <span>{{ form.viewsCount }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search__results__result__more-info">
                        <div class="search__results__result__more-info__author">
                            <img src="{{
                                !form.author.image ? 'assets/images/avatar.jpeg' : form.author.image
                            }}" alt="avatar">
                            <span [routerLink]="['/profile', form.author.username]">{{ form.author.username }}</span>
                        </div>
                        <div class="search__results__result__more-info__tags">
                            <span>
                                <span *ngFor="let tag of form.tags; let i = index">{{tag}}<span *ngIf="form.tags.length !== i + 1">, </span>

                                </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="loader" [style.display]="loadingQuery ? 'flex' : 'none'">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="80px" height="80px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
            <animateTransform attributeType="xml"
            attributeName="transform"
            type="rotate"
            from="0 25 25"
            to="360 25 25"
            dur="0.6s"
            repeatCount="indefinite"/>
            </path>
        </svg>
    </div>
    
    <div class="noMoreForms" *ngIf="noMoreForms === true">
        <h2>- No hay más formularios a cargar -</h2>
    </div>
</div>